<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <h1> Tiny Application</h1>
       <% if(username){ %>
        <%= username %>
        <br>
        <form method="POST" action='/logout'>
          <button type="submit" value="logout">Logout</button>
        </form>
      <% } else{ %>
        <form method="POST" action='/login'>
          <input type="text" name="username" id="username">
          <button type="submit">Login</button>
        </form>
      <% }
      %>
    </header>
  </body>
</html>