<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include ./partials/_headers.ejs %>
    <ul>
      <% for(let currentUrl in urls){ %>
      <li>
        <p>Short URL: <%=currentUrl%></p>
        <%=urls[currentUrl]%>
      </li>
      <form method="POST" action="/urls/<%=currentUrl%>/delete">
        <button type="submit"> Delete </button>
      </form>
      <% } %>
    </ul>
    <link href="">
  </body>
</html>