<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include ./partials/_headers.ejs %>
      <p>
        <b> Long Url: </b>
        <!-- acceses the object UrlDatabase and returns the value of the short url key -->
        <%= urlList[shortURL] %>
      </p>
      <p>
        <b> Short Url: </b>
        <%= shortURL %>
      </p>
  </body>
</html>